.competition-content-component,  .athletes-list-component {
    .add-modal {
        margin: 20px 0 30px 0;
        #competition-content-form-select, #athletes-list-form-select {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            flex-wrap: wrap;
            .ant-form-item {
                margin-bottom: 0;
                .ant-form-item-label > label {
                    height: 37px;
                    margin-bottom: 0;
                }
                .ant-form-item-control-input {
                    .ant-select-selector {
                        height: 37px;
                        border-radius: 5px;
                        .ant-select-selection-placeholder {
                            line-height: 35px;
                        }
                    }
                }
            }
            .ant-select-single .ant-select-selector .ant-select-selection-item, .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
                line-height: 35px;
            }
            .ant-form-item:first-child {
                padding-right: 40px;
                width: 65%;
            }
            .ant-form-item:last-child {
                width: 35%;
            }
        }
        .total-content {
            width: 35%;
            margin-bottom: 0;
        }
        .list-button {
            width: 65%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .ant-btn {
                margin-bottom: 0;
            }
            button:first-child {
                margin-right: 20px;
            }
            .btn-2 {
                margin-right: 20px;
            }
        }
    }
}

.modal-cus-select {
    .ant-modal {
        width: 1280px!important;
        @media (max-width: 1280px) {
            width: 100%!important;
        }
        .ant-modal-body {
            padding: 20px;
            .modal-select-action {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
                .modal-select-length {
                    font-size: 15px;
                    >span {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}



@media (max-width: 762px) {
    .competition-content-component {
        .add-modal {
            #competition-content-form-select {
                .ant-form-item:first-child {
                    margin-bottom: 20px;
                    width: 100%;
                    padding-right: 0;
                }
                .ant-form-item:last-child {
                    width: 100%;
                }
            }
            .total-content {
                width: 100%;
                margin-bottom: 20px;
                >span {
                    font-size: 14px;
                    >span {
                        font-size: 13px;
                    }
                }
            }
            .list-button {
                width: 100%;
                button:first-child {
                    margin-right: 20px;
                }
            }
        }
    }
    .ant-result-title {
        font-size: 18px;
        @media (max-width: 574px) {
            font-size: 15px;
        }
    }
}


